In [64]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [54]:
url = "http://mmadecisions.com/decision/14086/Jared-Cannonier-vs-Marvin-Vettori"

In [55]:
tables = pd.read_html(url)

In [17]:
tables[6]

             0            1            2
0  Eric ColÃ³n  Eric ColÃ³n  Eric ColÃ³n
1        ROUND        Burns     Masvidal
2            1            9           10
3            2           10            9
4            3           10            9
5        TOTAL           29           28

In [56]:
labeled_fight_tables = {}
labeled_fight_tables['Score Card 1'] = tables[6]
labeled_fight_tables['Score Card 2'] = tables[7]
labeled_fight_tables['Score Card 3'] = tables[8]

In [57]:
print(labeled_fight_tables)

{'Score Card 1':               0             1             2
0  Michael Bell  Michael Bell  Michael Bell
1         ROUND     Cannonier       Vettori
2             1             9            10
3             2            10             8
4             3            10             9
5             4            10             9
6             5            10             9
7         TOTAL            49            45, 'Score Card 2':                0              1              2
0  Ben Cartlidge  Ben Cartlidge  Ben Cartlidge
1          ROUND      Cannonier        Vettori
2              1              9             10
3              2             10              8
4              3             10              9
5              4             10              9
6              5             10              9
7          TOTAL             49             45, 'Score Card 3':              0            1            2
0  Sal D'Amato  Sal D'Amato  Sal D'Amato
1        ROUND    Cannonier      Vettori
2            1            9           10
3            2           10            8
4            3           10            9
5            4            9           10
6            5           10            9
7        TOTAL           48           46}

In [71]:
def create_aggregated_round_by_round_score_card_table(labeled_fight_tables):
    full_fight_scorecards_table = []
    winner = "0"
    loser = "1"
    for n in range(1, 4):
        tables = []
        for i, row in labeled_fight_tables[f"Score Card {n}"].iterrows():
            if i < 2:
                continue
            # Get df of one round
            df = pd.DataFrame(row)
            # get remove the first row
            values = list(df[i].to_dict().values())
            values.pop(0)
            my_list = [f"SC {n}", f"SC {n}"]
            cols = list(my_list)
            df = pd.DataFrame([values], columns=cols)

            # Update columns with round number
            new_cols = [f"Round {i-1} {c}" if c != "Fighter" else c for c in cols]
            # winner is the first fighter, set the add fighter number to column names
            new_columns = []
            new_columns.append(f"Fighter {winner} {new_cols[0]}")
            new_columns.append(f"Fighter {loser} {new_cols[1]}")

            new_cols = new_columns
            df.columns = new_cols

            tables.append(df)
        new_cols = [f"Fighter {winner} SC {n} Total", f"Fighter {loser} SC {n} Total"]
        tables[-1].columns = new_cols

        totals_df = pd.concat(tables, axis=1)
        totals_df = totals_df.loc[:,~totals_df.columns.duplicated()]

        full_fight_scorecards_table.append(totals_df)
    full_fight_scorecards_table = pd.concat(full_fight_scorecards_table, axis=1)
    full_fight_scorecards_table = full_fight_scorecards_table.loc[:,~full_fight_scorecards_table.columns.duplicated()]
    print("##########################################################################################")
    print(full_fight_scorecards_table)
    return full_fight_scorecards_table

In [72]:
tables = create_aggregated_round_by_round_score_card_table(labeled_fight_tables)

##########################################################################################
  Fighter 0 Round 1 SC 1 Fighter 1 Round 1 SC 1 Fighter 0 Round 2 SC 1  \
0                      9                     10                     10

  Fighter 1 Round 2 SC 1 Fighter 0 Round 3 SC 1 Fighter 1 Round 3 SC 1  \
0                      8                     10                      9

  Fighter 0 Round 4 SC 1 Fighter 1 Round 4 SC 1 Fighter 0 Round 5 SC 1  \
0                     10                      9                     10

  Fighter 1 Round 5 SC 1 Fighter 0 SC 1 Total Fighter 1 SC 1 Total  \
0                      9                   49                   45

  Fighter 0 Round 1 SC 2 Fighter 1 Round 1 SC 2 Fighter 0 Round 2 SC 2  \
0                      9                     10                     10

  Fighter 1 Round 2 SC 2 Fighter 0 Round 3 SC 2 Fighter 1 Round 3 SC 2  \
0                      8                     10                      9

  Fighter 0 Round 4 SC 2 Fighter 1 Round 4 SC 2 Fighter 0 Round 5 SC 2  \
0                     10                      9                     10

  Fighter 1 Round 5 SC 2 Fighter 0 SC 2 Total Fighter 1 SC 2 Total  \
0                      9                   49                   45

  Fighter 0 Round 1 SC 3 Fighter 1 Round 1 SC 3 Fighter 0 Round 2 SC 3  \
0                      9                     10                     10

  Fighter 1 Round 2 SC 3 Fighter 0 Round 3 SC 3 Fighter 1 Round 3 SC 3  \
0                      8                     10                      9

  Fighter 0 Round 4 SC 3 Fighter 1 Round 4 SC 3 Fighter 0 Round 5 SC 3  \
0                      9                     10                     10

  Fighter 1 Round 5 SC 3 Fighter 0 SC 3 Total Fighter 1 SC 3 Total
0                      9                   48                   46

In [73]:
from IPython.display import display

In [74]:
display(tables)

,Fighter 0 Round 1 SC 1,Fighter 1 Round 1 SC 1,Fighter 0 Round 2 SC 1,Fighter 1 Round 2 SC 1,Fighter 0 Round 3 SC 1,Fighter 1 Round 3 SC 1,Fighter 0 Round 4 SC 1,Fighter 1 Round 4 SC 1,Fighter 0 Round 5 SC 1,Fighter 1 Round 5 SC 1,Fighter 0 SC 1 Total,Fighter 1 SC 1 Total,Fighter 0 Round 1 SC 2,Fighter 1 Round 1 SC 2,Fighter 0 Round 2 SC 2,Fighter 1 Round 2 SC 2,Fighter 0 Round 3 SC 2,Fighter 1 Round 3 SC 2,Fighter 0 Round 4 SC 2,Fighter 1 Round 4 SC 2,Fighter 0 Round 5 SC 2,Fighter 1 Round 5 SC 2,Fighter 0 SC 2 Total,Fighter 1 SC 2 Total,Fighter 0 Round 1 SC 3,Fighter 1 Round 1 SC 3,Fighter 0 Round 2 SC 3,Fighter 1 Round 2 SC 3,Fighter 0 Round 3 SC 3,Fighter 1 Round 3 SC 3,Fighter 0 Round 4 SC 3,Fighter 1 Round 4 SC 3,Fighter 0 Round 5 SC 3,Fighter 1 Round 5 SC 3,Fighter 0 SC 3 Total,Fighter 1 SC 3 Total
0,9,10,10,8,10,9,10,9,10,9,49,45,9,10,10,8,10,9,10,9,10,9,49,45,9,10,10,8,10,9,9,10,10,9,48,46

In [ ]:
table = tables[6].iloc[1:,0:]

In [ ]:
print(table)

In [ ]:
scores = table.iloc[1:, 1:]

In [ ]:
scores

In [ ]:
scores = scores.values.tolist()

In [ ]:
scores

In [ ]:
score_vector = [score for round_scores in scores for score in round_scores]

In [ ]:
score_vector

In [ ]:
v = table.unstack().to_frame().sort_index(level=1).T

In [ ]:
v

In [ ]:
v.columns = v.columns.map(lambda x: '_'.join(str(i) for i in x))

In [ ]:
v

In [ ]:
display(tables[8])