In [1]:
import pandas as pd

In [2]:
url = "http://mmadecisions.com/decision/13907/Gilbert-Burns-vs-Jorge-Masvidal"

In [3]:
tables = pd.read_html(url)

In [4]:
table = tables[6]

In [5]:
from IPython.display import display

In [6]:
display(tables[6])

             0            1            2
0  Eric ColÃ³n  Eric ColÃ³n  Eric ColÃ³n
1        ROUND        Burns     Masvidal
2            1            9           10
3            2           10            9
4            3           10            9
5        TOTAL           29           28

In [7]:
display(tables[7])

           0          1          2
0  Chris Lee  Chris Lee  Chris Lee
1      ROUND      Burns   Masvidal
2          1         10          9
3          2         10          9
4          3         10          9
5      TOTAL         30         27

In [8]:
display(tables[8])

              0             1             2
0  Dave Tirelli  Dave Tirelli  Dave Tirelli
1         ROUND         Burns      Masvidal
2             1            10             9
3             2            10             9
4             3            10             9
5         TOTAL            30            27